# GDP Data Cleaning
---
Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df1 = pd.read_csv('data/GDP API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_3731395/This one API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_3731395.csv')

In [46]:
df_gdp = df1[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2016', '2017', '2018', '2019', '2020']]

In [47]:
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987

In [52]:
df_gdp['Indicator Code'].value_counts()

NY.GDP.MKTP.KD.ZG    266
Name: Indicator Code, dtype: int64

In [53]:
df_gdp.drop(columns=['Indicator Name', 'Indicator Code'])

,Country Name,Country Code,2016,2017,2018,2019,2020
0,Aruba,ABW,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,AFG,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,AFW,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,AGO,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987
...,...,...,...,...,...,...,...
261,Kosovo,XKX,5.571757,4.825690,3.406631,4.756831,-5.340275
262,"Yemen, Rep.",YEM,-9.375124,-5.071796,0.752447,NaN,NaN
263,South Africa,ZAF,0.664552,1.157947,1.487617,0.113054,-6.431975
264,Zambia,ZMB,3.776679,3.504336,4.034494,1.441306,-2.785055
265,Zimbabwe,ZWE,0.755869,4.709492,4.824211,-6.144236,-6.248748

In [54]:
df_gdp.to_csv('data/GDP API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_3731395/cleaned_gdp.csv', index=False)