# Merging all Data Sets
---
Imports

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

The below cleaning of the GDP data is the same process that is done to the Tax Revenue and unemployment data in different notebooks. Those files are read in already clean in order to merge.

## Read in GDP data

In [2]:
df_gdp = pd.read_csv('../../data/GDP API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_3731395/cleaned_gdp.csv')
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987

In [3]:
df_gdp.drop(columns =['Indicator Name', 'Indicator Code'], inplace = True)

In [4]:
df_gdp.head()

,Country Name,Country Code,2016,2017,2018,2019,2020
0,Aruba,ABW,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,AFG,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,AFW,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,AGO,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987

## Set the index columns

In [5]:
df_gdp.set_index(["Country Name","Country Code"], inplace=True)
df_gdp.head(10)

,,2016,2017,2018,2019,2020
Country Name,Country Code,,,,,
Aruba,ABW,2.100000,1.999999,NaN,NaN,NaN
Africa Eastern and Southern,AFE,2.019391,2.542298,2.475272,2.077898,-2.939186
Afghanistan,AFG,2.260314,2.647003,1.189228,3.911603,-2.351101
Africa Western and Central,AFW,0.127595,2.318042,2.952230,3.190336,-0.884981
Angola,AGO,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987
Albania,ALB,3.314981,3.802227,4.019360,2.113420,-3.955398
Andorra,AND,3.709678,0.346072,1.588765,2.015548,-11.952693
Arab World,ARB,3.200034,0.929187,2.397753,2.050388,-5.281844
United Arab Emirates,ARE,2.984216,2.373551,1.189856,3.411539,-6.134501
Argentina,ARG,-2.080328,2.818503,-2.617396,-2.025934,-9.895269

## Use unstack() and stack() to pivot those that are not index columns, and create a new df

In [6]:
new_gdp = df_gdp.unstack().stack(level=0)
new_gdp.head(10)

Country Code                      ABW       AFE       AFG  AFW  AGO  ALB  AND  \
Country Name
Afghanistan                 2016  NaN       NaN  2.260314  NaN  NaN  NaN  NaN
                            2017  NaN       NaN  2.647003  NaN  NaN  NaN  NaN
                            2018  NaN       NaN  1.189228  NaN  NaN  NaN  NaN
                            2019  NaN       NaN  3.911603  NaN  NaN  NaN  NaN
                            2020  NaN       NaN -2.351101  NaN  NaN  NaN  NaN
Africa Eastern and Southern 2016  NaN  2.019391       NaN  NaN  NaN  NaN  NaN
                            2017  NaN  2.542298       NaN  NaN  NaN  NaN  NaN
                            2018  NaN  2.475272       NaN  NaN  NaN  NaN  NaN
                            2019  NaN  2.077898       NaN  NaN  NaN  NaN  NaN
                            2020  NaN -2.939186       NaN  NaN  NaN  NaN  NaN

Country Code                      ARB  ARE  ARG  ...  VIR  VNM  VUT  WLD  WSM  \
Country Name                                     ...
Afghanistan                 2016  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2017  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2018  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2019  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2020  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
Africa Eastern and Southern 2016  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2017  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2018  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2019  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN
                            2020  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN

Country Code                      XKX  YEM  ZAF  ZMB  ZWE
Country Name
Afghanistan                 2016  NaN  NaN  NaN  NaN  NaN
                            2017  NaN  NaN  NaN  NaN  NaN
                            2018  NaN  NaN  NaN  NaN  NaN
                            2019  NaN  NaN  NaN  NaN  NaN
                            2020  NaN  NaN  NaN  NaN  NaN
Africa Eastern and Southern 2016  NaN  NaN  NaN  NaN  NaN
                            2017  NaN  NaN  NaN  NaN  NaN
                            2018  NaN  NaN  NaN  NaN  NaN
                            2019  NaN  NaN  NaN  NaN  NaN
                            2020  NaN  NaN  NaN  NaN  NaN

[10 rows x 266 columns]

## Reset the index

In [7]:
new_gdp.reset_index(inplace=True)
new_gdp.head()

Country Code,Country Name,level_1,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
0,Afghanistan,2016,NaN,NaN,2.260314,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2017,NaN,NaN,2.647003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2018,NaN,NaN,1.189228,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2019,NaN,NaN,3.911603,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2020,NaN,NaN,-2.351101,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Rename the Year column

In [8]:
new_gdp.rename(columns={'level_1': 'Year'}, inplace=True)

## Fill the new null values

In [9]:
new_gdp.fillna(0)

Country Code,Country Name,Year,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
0,Afghanistan,2016,0.0,0.0,2.260314,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,Afghanistan,2017,0.0,0.0,2.647003,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,Afghanistan,2018,0.0,0.0,1.189228,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,Afghanistan,2019,0.0,0.0,3.911603,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,Afghanistan,2020,0.0,0.0,-2.351101,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,Zimbabwe,2016,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.755869
1252,Zimbabwe,2017,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.709492
1253,Zimbabwe,2018,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.824211
1254,Zimbabwe,2019,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.144236
1255,Zimbabwe,2020,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.248748

## Sum Across the row (to create Total GDP column)

In [10]:
new_gdp['Total_GDP']= new_gdp.iloc[:, -265:-1].sum(axis=1)
new_gdp.head()

Country Code,Country Name,Year,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,...,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE,Total_GDP
0,Afghanistan,2016,NaN,NaN,2.260314,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.260314
1,Afghanistan,2017,NaN,NaN,2.647003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.647003
2,Afghanistan,2018,NaN,NaN,1.189228,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.189228
3,Afghanistan,2019,NaN,NaN,3.911603,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.911603
4,Afghanistan,2020,NaN,NaN,-2.351101,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.351101

## Drop the unneccessary columns

In [11]:
new_gdp = new_gdp[['Country Name', 'Year', 'Total_GDP']]
new_gdp.head(10)

Country Code                 Country Name  Year  Total_GDP
0                             Afghanistan  2016   2.260314
1                             Afghanistan  2017   2.647003
2                             Afghanistan  2018   1.189228
3                             Afghanistan  2019   3.911603
4                             Afghanistan  2020  -2.351101
5             Africa Eastern and Southern  2016   2.019391
6             Africa Eastern and Southern  2017   2.542298
7             Africa Eastern and Southern  2018   2.475272
8             Africa Eastern and Southern  2019   2.077898
9             Africa Eastern and Southern  2020  -2.939186

In [12]:
new_gdp.rename(columns = {'Country Name': 'Country of asylum'}, inplace=True)

In [13]:
new_gdp.head()

Country Code Country of asylum  Year  Total_GDP
0                  Afghanistan  2016   2.260314
1                  Afghanistan  2017   2.647003
2                  Afghanistan  2018   1.189228
3                  Afghanistan  2019   3.911603
4                  Afghanistan  2020  -2.351101

In [14]:
new_gdp.dtypes

Country Code
Country of asylum     object
Year                  object
Total_GDP            float64
dtype: object

## Change the 'Year' from an object to int

In [15]:
new_gdp['Year']=new_gdp['Year'].astype(int)

## Read in the refugee data

In [16]:
df_ref = pd.read_csv('../../data/pop_refugees_clean.csv')
df_ref.drop(columns ='Unnamed: 0', inplace=True)
df_ref.head(10)

,Year,Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Stateless persons,Others of concern
0,2016,Afghanistan,AFG,59770,123,1797551,0,114221
1,2017,Afghanistan,AFG,75927,215,1837079,0,448032
2,2018,Afghanistan,AFG,72228,281,2106893,0,489854
3,2019,Afghanistan,AFG,72227,247,2553390,0,447093
4,2020,Afghanistan,AFG,72278,167,2886317,0,82595
5,2021,Afghanistan,AFG,72226,187,3204805,0,84742
6,2016,Albania,ALB,141,2750,0,4921,0
7,2017,Albania,ALB,124,32,0,4460,2719
8,2018,Albania,ALB,132,159,0,4160,76
9,2019,Albania,ALB,120,5,0,3687,153

## Merge the GDP data to the Refugee Data

In [17]:
combo_df = pd.merge(df_ref, new_gdp, how="left", on=['Country of asylum','Year'])
combo_df.head()

,Year,Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Stateless persons,Others of concern,Total_GDP
0,2016,Afghanistan,AFG,59770,123,1797551,0,114221,2.260314
1,2017,Afghanistan,AFG,75927,215,1837079,0,448032,2.647003
2,2018,Afghanistan,AFG,72228,281,2106893,0,489854,1.189228
3,2019,Afghanistan,AFG,72227,247,2553390,0,447093,3.911603
4,2020,Afghanistan,AFG,72278,167,2886317,0,82595,-2.351101

In [18]:
combo_df.rename(columns = {'Total_GDP': 'GDP_annual_change'}, inplace=True)

In [19]:
combo_df.head()

,Year,Country of asylum,Country of asylum (ISO),Refugees under UNHCR's mandate,Asylum-seekers,IDPs of concern to UNHCR,Stateless persons,Others of concern,GDP_annual_change
0,2016,Afghanistan,AFG,59770,123,1797551,0,114221,2.260314
1,2017,Afghanistan,AFG,75927,215,1837079,0,448032,2.647003
2,2018,Afghanistan,AFG,72228,281,2106893,0,489854,1.189228
3,2019,Afghanistan,AFG,72227,247,2553390,0,447093,3.911603
4,2020,Afghanistan,AFG,72278,167,2886317,0,82595,-2.351101

In [30]:
countries = combo_df['Country of asylum'].unique()

In [31]:
countries

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Rep.', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'Colombia', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao ',
       'Cyprus', 'Czechia', 'Dem. Rep. of the Congo', 'Denmark',
       'Djibouti', 'Dominican Rep.', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Rep. of)', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kuwait', 'Kyrgyzstan', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Rep. of Korea',
       'Rep. of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Vincent and the Grenadines',
       'Samoa', 'Saudi Arabia', 'Senegal',
       'Serbia and Kosovo: S/RES/1244 (1999)', 'Sierra Leone',
       'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Rep.', 'Tajikistan', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Rep. of Tanzania', 'United States of America', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

## Read in Unemployment Data

In [20]:
# df_ue = pd.read_csv('../../data/Unemployment API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_3731354/cleaned_ue.csv')
# df_ue.drop(columns ='Unnamed: 0', inplace=True)
# df_ue.head(10)

In [21]:
# df_ue.head()

## Read in Tax Revenue.

In [22]:
# df_tax = pd.read_csv('../../data/clean_tax_data.csv')
# df_tax.drop(columns ='Unnamed: 0', inplace=True)
# df_tax.head(10)

In [23]:
# df_tax['Country'].unique()

In [24]:
# df_tax = df_tax[['Country', 'Year', 'Value']]

In [25]:
# df_tax.head()

In [26]:
# df_tax.rename(columns = {'Value': 'Tax_Revenue_Bil_USD', 'Country': 'Country of asylum'}, inplace=True)

In [27]:
# df_tax

# Read in World Development Indicator Files

## Merge Unemployment to the GDP and Refugee file

In [28]:
#combo1_df = pd.merge(df)

NameError: name 'df' is not defined

In [ ]:
# merge_df = pd.merge(df_ue, df_tax, how="left", on=['Country of asylum','Year'])
# merge_df.head()

## Merge the 2 merged DataFrames

In [ ]:
final_df = pd.merge(combo_df, merge_df, how="left", on=['Country of asylum','Year'])
final_df.head()

In [ ]:
final_df.shape

In [ ]:
final_df['Country of asylum'].nunique()

In [ ]:
final_df.isnull().sum()

In [ ]:
final_df[final_df['GDP'].isnull()]['Country of asylum'].unique()

In [ ]:
countries

## Export combined dataframe

In [32]:
combo_df.to_csv('../../data/gdp_and_pop_draft.csv')